<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<tmxsd:menu xmlns:tmxsd="http://www.cern.ch/tmxsd/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.cern.ch/tmxsd/1.0.0 menu.xsd">
  <ancestor_id>0</ancestor_id>
  <name>L1Menu_</name>
  <uuid_menu>00000000-0000-0000-0000-000000000000</uuid_menu>
  <uuid_firmware>00000000-0000-0000-0000-000000000000</uuid_firmware>
  <global_tag/>
  <grammar_version>0.5</grammar_version>
  <n_modules>1</n_modules>
  <is_valid>true</is_valid>
  <is_obsolete>false</is_obsolete>
  <algorithm>
    <name>L1_massZ</name>
    <expression>mass{MU0[MU-SLICE_LEAD],MU0[MU-SLICE_LEAD]}[MASS_Z,TBPT_Y]</expression>
    <index>0</index>
    <module_id>0</module_id>
    <module_index>0</module_index>
    <cut>
      <name>MASS_Z</name>
      <object>mass</object>
      <type>MASS</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.0000000000000000E+00</maximum>
      <data/>
    </cut>
    <cut>
      <name>MU-SLICE_LEAD</name>
      <object>MU</object>
      <type>SLICE</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <data>0,0</data>
    </cut>
    <cut>
      <name>TBPT_Y</name>
      <object>mass</object>
      <type>TBPT</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.0000000000000000E+00</maximum>
      <data/>
    </cut>
    <object_requirement>
      <name>MU0</name>
      <type>MU</type>
      <comparison_operator>.ge.</comparison_operator>
      <threshold>+0.0000000000000000E+00</threshold>
      <bx_offset>0</bx_offset>
    </object_requirement>
  </algorithm>
  <algorithm>
    <name>L1_massInvZ</name>
    <expression>mass_inv{MU0[MU-SLICE_LEAD],MU0[MU-SLICE_LEAD]}[MASS_Z,TBPT_Y]</expression>
    <index>1</index>
    <module_id>0</module_id>
    <module_index>0</module_index>
    <cut>
      <name>MASS_Z</name>
      <object>mass</object>
      <type>MASS</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.0000000000000000E+00</maximum>
      <data/>
    </cut>
    <cut>
      <name>MU-SLICE_LEAD</name>
      <object>MU</object>
      <type>SLICE</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <data>0,0</data>
    </cut>
    <cut>
      <name>TBPT_Y</name>
      <object>mass</object>
      <type>TBPT</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.0000000000000000E+00</maximum>
      <data/>
    </cut>
    <object_requirement>
      <name>MU0</name>
      <type>MU</type>
      <comparison_operator>.ge.</comparison_operator>
      <threshold>+0.0000000000000000E+00</threshold>
      <bx_offset>0</bx_offset>
    </object_requirement>
  </algorithm>
  <algorithm>
    <name>L1_massTrvZ</name>
    <expression>mass_trv{MU0[MU-SLICE_LEAD],MU0[MU-SLICE_LEAD]}[MASS_Z,TBPT_Y]</expression>
    <index>2</index>
    <module_id>0</module_id>
    <module_index>0</module_index>
    <cut>
      <name>MASS_Z</name>
      <object>mass</object>
      <type>MASS</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.0000000000000000E+00</maximum>
      <data/>
    </cut>
    <cut>
      <name>MU-SLICE_LEAD</name>
      <object>MU</object>
      <type>SLICE</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <data>0,0</data>
    </cut>
    <cut>
      <name>TBPT_Y</name>
      <object>mass</object>
      <type>TBPT</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.0000000000000000E+00</maximum>
      <data/>
    </cut>
    <object_requirement>
      <name>MU0</name>
      <type>MU</type>
      <comparison_operator>.ge.</comparison_operator>
      <threshold>+0.0000000000000000E+00</threshold>
      <bx_offset>0</bx_offset>
    </object_requirement>
  </algorithm>
  <algorithm>
    <name>L1_masses</name>
    <expression>mass{MU0[MU-SLICE_LEAD],MU0[MU-SLICE_LEAD]}[MASS_Z] OR mass_inv{MU0,MU0}[MASS_Z,TBPT_X] OR mass_trv{MU0,MU0}[MASS_Z,TBPT_X]</expression>
    <index>3</index>
    <module_id>0</module_id>
    <module_index>0</module_index>
    <cut>
      <name>MASS_Z</name>
      <object>mass</object>
      <type>MASS</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.0000000000000000E+00</maximum>
      <data/>
    </cut>
    <cut>
      <name>MU-SLICE_LEAD</name>
      <object>MU</object>
      <type>SLICE</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <data>0,0</data>
    </cut>
    <cut>
      <name>TBPT_Y</name>
      <object>mass</object>
      <type>TBPT</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.0000000000000000E+00</maximum>
      <data/>
    </cut>
    <object_requirement>
      <name>MU0</name>
      <type>MU</type>
      <comparison_operator>.ge.</comparison_operator>
      <threshold>+0.0000000000000000E+00</threshold>
      <bx_offset>0</bx_offset>
    </object_requirement>
  </algorithm>
    <algorithm>
    <name>L1_Mu0Leading</name>
    <expression>MU0[MU-SLICE_LEAD]</expression>
    <index>4</index>
    <module_id>0</module_id>
    <module_index>0</module_index>
    <cut>
      <name>MU-SLICE_LEAD</name>
      <object>MU</object>
      <type>SLICE</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <data>0,0</data>
    </cut>
    <object_requirement>
      <name>MU0</name>
      <type>MU</type>
      <comparison_operator>.ge.</comparison_operator>
      <threshold>+0.0000000000000000E+00</threshold>
      <bx_offset>0</bx_offset>
    </object_requirement>
  </algorithm>
  <scale_set>
    <name>scales_micro</name>
    <scale>
      <object>EG</object>
      <type>ET</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+2.5600000000000000E+02</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>EG</object>
      <type>ETA</type>
      <minimum>-5.0000000000000000E+00</minimum>
      <maximum>+5.0000000000000000E+00</maximum>
      <step>+4.3499999999999997E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+4.3499999999999997E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+4.3499999999999997E-02</minimum>
        <maximum>+8.6999999999999994E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>EG</object>
      <type>PHI</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+6.2831853071795862E+00</maximum>
      <step>+4.3633231299858237E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+4.3633231299858237E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+4.3633231299858237E-02</minimum>
        <maximum>+8.7266462599716474E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>ETM</object>
      <type>ET</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+2.0480000000000000E+03</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>2</number>
        <minimum>+1.0000000000000000E+00</minimum>
        <maximum>+1.5000000000000000E+00</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>ETM</object>
      <type>PHI</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+6.2831853071795862E+00</maximum>
      <step>+4.3633231299858237E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+4.3633231299858237E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+4.3633231299858237E-02</minimum>
        <maximum>+8.7266462599716474E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>ETTEM</object>
      <type>ET</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+2.0480000000000000E+03</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>2</number>
        <minimum>+1.0000000000000000E+00</minimum>
        <maximum>+1.5000000000000000E+00</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>ETMHF</object>
      <type>ET</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+2.0480000000000000E+03</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>ETMHF</object>
      <type>PHI</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+6.2831853071795862E+00</maximum>
      <step>+4.3633231299858237E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+4.3633231299858237E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+4.3633231299858237E-02</minimum>
        <maximum>+8.7266462599716474E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>ETT</object>
      <type>ET</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+2.0480000000000000E+03</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>HTM</object>
      <type>ET</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+2.0480000000000000E+03</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>HTM</object>
      <type>PHI</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+6.2831853071795862E+00</maximum>
      <step>+4.3633231299858237E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+4.3633231299858237E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+4.3633231299858237E-02</minimum>
        <maximum>+8.7266462599716474E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>HTT</object>
      <type>ET</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+2.0480000000000000E+03</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>JET</object>
      <type>ET</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.0240000000000000E+03</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>JET</object>
      <type>ETA</type>
      <minimum>-5.0000000000000000E+00</minimum>
      <maximum>+5.0000000000000000E+00</maximum>
      <step>+4.3499999999999997E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+4.3499999999999997E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+4.3499999999999997E-02</minimum>
        <maximum>+8.6999999999999994E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>JET</object>
      <type>PHI</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+6.2831853071795862E+00</maximum>
      <step>+4.3633231299858237E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+4.3633231299858237E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+4.3633231299858237E-02</minimum>
        <maximum>+8.7266462599716474E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>MBT0HFM</object>
      <type>COUNT</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.5000000000000000E+01</maximum>
      <step>+1.0000000000000000E+00</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+0.0000000000000000E+00</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+1.0000000000000000E+00</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>MBT0HFP</object>
      <type>COUNT</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.5000000000000000E+01</maximum>
      <step>+1.0000000000000000E+00</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+0.0000000000000000E+00</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+1.0000000000000000E+00</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>MBT1HFM</object>
      <type>COUNT</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.5000000000000000E+01</maximum>
      <step>+1.0000000000000000E+00</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+0.0000000000000000E+00</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+1.0000000000000000E+00</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>MBT1HFP</object>
      <type>COUNT</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+1.5000000000000000E+01</maximum>
      <step>+1.0000000000000000E+00</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+0.0000000000000000E+00</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+1.0000000000000000E+00</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>MU</object>
      <type>ET</type>
      <minimum>-5.0000000000000000E-01</minimum>
      <maximum>+2.5550000000000000E+02</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>1</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>2</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>MU</object>
      <type>PHI</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+6.2831853071795862E+00</maximum>
      <step>+1.0908307824964559E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+1.0908307824964559E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+1.0908307824964559E-02</minimum>
        <maximum>+2.1816615649929118E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-EG-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-EG-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-EG-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-EG-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-EG-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-EG-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-ETM-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-HTM-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-JET-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-JET-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-JET-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-JET-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-JET-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-JET-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-MU-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-MU-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-MU-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-MU-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>4</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-MU-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-MU-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>4</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-TAU-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-TAU-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-TAU-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-TAU-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-TAU-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>EG-TAU-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-ETM-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-HTM-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-JET-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-JET-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-JET-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-JET-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-JET-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-JET-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-MU-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-MU-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-MU-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-MU-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>4</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-MU-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-MU-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>4</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-TAU-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-TAU-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-TAU-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-TAU-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-TAU-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>JET-TAU-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>MU-ETM-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>MU-HTM-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>MU-MU-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>MU-MU-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>MU-MU-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>MU-MU-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>4</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>MU-MU-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>MU-MU-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>4</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-ETM-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-HTM-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-MU-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-MU-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-MU-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-MU-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>4</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-MU-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-MU-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>4</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-TAU-Delta</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-TAU-Mass</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-TAU-MassPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-TAU-Math</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-TAU-TwoBodyPt</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>1</n_bits>
    </scale>
    <scale>
      <object>PRECISION</object>
      <type>TAU-TAU-TwoBodyPtMath</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+0.0000000000000000E+00</maximum>
      <step>+0.0000000000000000E+00</step>
      <n_bits>3</n_bits>
    </scale>
    <scale>
      <object>TAU</object>
      <type>ET</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+2.5600000000000000E+02</maximum>
      <step>+5.0000000000000000E-01</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+5.0000000000000000E-01</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+5.0000000000000000E-01</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
    <scale>
      <object>TAU</object>
      <type>ETA</type>
      <minimum>-5.0000000000000000E+00</minimum>
      <maximum>+5.0000000000000000E+00</maximum>
      <step>+4.3499999999999997E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+4.3499999999999997E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+4.3499999999999997E-02</minimum>
        <maximum>+8.6999999999999994E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>TAU</object>
      <type>PHI</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+6.2831853071795862E+00</maximum>
      <step>+4.3633231299858237E-02</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+4.3633231299858237E-02</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+4.3633231299858237E-02</minimum>
        <maximum>+8.7266462599716474E-02</maximum>
      </bin>
    </scale>
    <scale>
      <object>TOWERCOUNT</object>
      <type>COUNT</type>
      <minimum>+0.0000000000000000E+00</minimum>
      <maximum>+8.1910000000000000E+03</maximum>
      <step>+1.0000000000000000E+00</step>
      <n_bits>1</n_bits>
      <bin>
        <number>0</number>
        <minimum>+0.0000000000000000E+00</minimum>
        <maximum>+0.0000000000000000E+00</maximum>
      </bin>
      <bin>
        <number>1</number>
        <minimum>+1.0000000000000000E+00</minimum>
        <maximum>+1.0000000000000000E+00</maximum>
      </bin>
    </scale>
  </scale_set>
</tmxsd:menu>
